$black: #000000
$white: #ffffff
$gray: #888888
$gray-light: #F8F8F8

$red-light: #ff8888
$orange-light: #ffdb8a

$font-family: Poppins, "Century Gothic", Tahoma, Lato, Calibri Light, Arial
$font-size: 1rem
$font-color: $black

$nav-color: $black
$nav-bgcolor: $gray-light
$nav-width-desktop: 20rem
$nav-padding-inside: 1rem
$nav-menu-padding: 0 1.5rem
$nav-menu-height: 3rem

$main-padding: 4rem

$form-fieldset-height: 3rem
$form-fieldset-bgcolor: $gray-light
$form-fieldset-input-padding: 0 1.5rem
$form-fieldset-margin-after: 1.25rem
$form-button-color: $white
$form-button-bgcolor: $gray
$form-button-padding: 0 .75rem
$form-submit-button-bgcolor: $black
$form-danger-button-bgcolor: $red-light

$table-col-padding: .675rem .5rem

$browsers: '', '-moz-', '-webkit-', '-ms-'
=transition($sec, $type: all, $accel: ease)
	@each $browser in $browsers
		#{$browser}transition: $type $sec $accel
=borderRadius($radius: 50%)
	@each $browser in $browsers
		#{$browser}border-radius: $radius

*
	box-sizing: border-box
body
	margin: 0
	padding: 0
	font-family: $font-family
	font-size: $font-size

header
	nav
		position: fixed
		left: 0
		top: 0
		background-color: $nav-bgcolor
		width: $nav-width-desktop
		height: 100vh
		ul
			padding: $nav-padding-inside
			margin: 0
			margin-top: 8.5rem
			li
				list-style: none
				text-align: right
				a
					color: $nav-color
					text-decoration: none
					height: $nav-menu-height
					line-height: $nav-menu-height
					padding: $nav-menu-padding
					display: block

main
	padding: $main-padding
	padding-left: $nav-width-desktop+$main-padding
	h1
		text-transform: capitalize
		font-size: 2rem
		margin: 0
		margin-bottom: 3rem
	h2
		text-transform: capitalize
		font-size: 1.5rem
		margin: 0
		margin-bottom: 2rem
	form
		fieldset
			border: 0
			margin: 0
			padding: 0
			height: $form-fieldset-height
			margin-bottom: $form-fieldset-margin-after
			display: flex
			> label
				width: 17.5rem
				padding-top: .875rem
			label
				text-transform: capitalize
			input
				background-color: $form-fieldset-bgcolor
				padding: $form-fieldset-input-padding
				line-height: $form-fieldset-height
				border: 0
				font-size: 1rem
				flex-grow: 1
				overflow: hidden
				text-overflow: ellipsis
				white-space: nowrap
				&::-webkit-input-placeholder
					color: lighten($font-color, 50%)
				&:-ms-input-placeholder
					color: lighten($font-color, 50%)
				&::placeholder
					color: lighten($font-color, 50%)
	table
		width: 100%
		border-collapse: collapse
		tr
			+transition(.2s)
			th, td
				border: 1px solid $gray-light
				text-align: left
				&:first-child
					text-align: center
				&:last-child
					text-align: center
					white-space: nowrap
			th
				padding: .875rem .75rem
			td
				padding: .375rem .75rem
			&:nth-child(even)
				background-color: $gray-light
			&:hover
				background-color: $orange-light
		thead
			tr th
				border-bottom: 1px solid $black
	button, .button
		font-size: $font-size
		height: 2.25rem
		border: 0
		padding: $form-button-padding
		background-color: $form-button-bgcolor
		color: $form-button-color
		cursor: pointer
		letter-spacing: .0625rem
		+borderRadius(.5rem)
		+transition(.3s)
		&.full
			display: block
			width: 100%
		&.submit
			background-color: $form-submit-button-bgcolor
		&.danger
			background-color: $form-danger-button-bgcolor
		&:hover
			box-shadow: 0 0 .5rem .25rem rgba(0, 0, 0, .08)